<div class="backdrop is-hidden" id="footer-backdrop">
 
    <div class="team ">
      <button type="button" class="btn__close" data-action="close-modal-team"> 
        <svg width="14" height="14">
          <use href="./images/icon-close.svg#icon-closed"></use>
        </svg>
      </button>
    <ul class="team list">
      <li class="team__card">
        <div class="img-wrapper">
          <img class="team__img" src="./images/team/Oleksandr.jpg" loading="lazy" alt="Oleksandr" />
        </div>
        <p class="team__name">Oleksandr</p>
        <p class="team__position">Team Lead</p>
        <a class="team__in-link" href="https://www.linkedin.com/in/oleksandr-pivets/" target="_blank" >
          <svg class="team__in-icon" width="40px" hight="40px">
          <use href="./images/sprite.svg/#icon-linkedln"></use>
        </svg>
      </a>  
      </li> 

      <li class="team__card">
        <div class="img-wrapper">
          <img class="team__img" src="./images/team/Victor.jpg" loading="lazy" alt="Victor" />
        </div>
        <p class="team__name">Victor</p>
        <p class="team__position">Scrum Master</p>
        <a class="team__in-link" href="" target="_blank" >
          <svg class="team__in-icon" width="40px" hight="40px">
          <use href="./images/sprite.svg/#icon-linkedln"></use>
        </svg>
      </a>  
      </li>     

      <li class="team__card">
        <div class="img-wrapper">
          <img class="team__img" src="./images/team/Ihor.jpg" loading="lazy" alt="Ihor" />
        </div>
        <p class="team__name">Ihor</p>
        <p class="team__position">Developer</p>
        <a class="team__in-link" href="https://www.linkedin.com/in/polygor/" target="_blank" >
          <svg class="team__in-icon" width="40px" hight="40px">
          <use href="./images/sprite.svg/#icon-linkedln"></use>
        </svg>
      </a>  
       
      </li>    

      <li class="team__card">
        <div class="img-wrapper">
          <img class="team__img" src="./images/team/Oleksandra.jpg" loading="lazy" alt="Oleksandra" />
        </div>
        <p class="team__name">Oleksandra</p>
        <p class="team__position">Developer</p>
        <a class="team__in-link" href="https://www.linkedin.com/in/oleksandra-masiuk/" target="_blank" >
          <svg class="team__in-icon" width="40px" hight="40px">
          <use href="./images/sprite.svg/#icon-linkedln"></use>
        </svg>
      </a> 
       
      </li>    

      <li class="team__card">
        <div class="img-wrapper">
          <img class="team__img" src="./images/team/Anton.jpg" loading="lazy" alt="Anton" />
        </div>
        <p class="team__name">Anton</p>
        <p class="team__position">Developer</p>
        <a class="team__in-link" href="https://www.linkedin.com/in/антон-дьяченко-733016206" target="_blank" >
          <svg class="team__in-icon" width="40px" hight="40px">
          <use href="./images/sprite.svg/#icon-linkedln"></use>
        </svg>
      </a> 
      </li>   

      <li class="team__card">
        <div class="img-wrapper">
          <img class="team__img" src="./images/team/Juliya.jpg" loading="lazy" alt="Juliya" />
        </div>
        <p class="team__name">Juliya</p>
        <p class="team__position">Developer</p>
        <a class="team__in-link" href="https://linkedin.com/in/julia-moskvita-2aa362218" target="_blank" >
          <svg class="team__in-icon" width="40px" hight="40px">
          <use href="./images/sprite.svg/#icon-linkedln"></use>
        </svg>
      </a> 
      </li> 

      <li class="team__card">
        <div class="img-wrapper">
          <img class="team__img" src="./images/team/Yura.jpg" loading="lazy" alt="Yura" />
        </div>
        <p class="team__name">Yura</p>
        <p class="team__position">Developer</p>
        <a class="team__in-link" href="https://www.linkedin.com/in/yura-batrak" target="_blank" >
          <svg class="team__in-icon" width="40px" hight="40px">
          <use href="./images/sprite.svg/#icon-linkedln"></use>
        </svg>
      </a> 
      </li>   
      
      <li class="team__card">
        <div class="img-wrapper">
          <img class="team__img" src="./images/team/Ekaterina.jpg" loading="lazy" alt="Ekaterina" />
        </div>
        <p class="team__name">Ekaterina</p>
        <p class="team__position">Developer</p>
        <a class="team__in-link" href="https://www.linkedin.com/in/ekaterina-folkina/" target="_blank" >
          <svg class="team__in-icon" width="40px" hight="40px">
          <use href="./images/sprite.svg/#icon-linkedln"></use>
        </svg>
      </a> 
      </li> 
    </ul>
  </div>
  </div>