<div class="lightbox touch-transform js-lightbox">
  <div class="lightbox__overlay touch-transform">
    <div class="lightbox__content">
      <button type="button" class="lightbox__button touch-transform" data-action="close-lightbox">
        <svg width="14" height="14">
          <use href="./images/icon-close.svg#icon-closed"></use>
        </svg>
      </button>
      <div class="lightbox__image">
        <div class="classToInsertCodeAfter">
          <!-- вставить спинер -->
          <img class="movie-img" src="" alt="" data-movie-img />
        </div>
        <div class="movie-info"></div>
      </div>
    </div>
  </div>
</div>