.notiflix-notify {
  top: 155px;
  right: -15px;
  justify-content: center;

  @media screen and (min-width: $tablet) {
    right: 60px;
  }
}

#NotiflixNotifyWrap > div {
  border-radius: 0;
  background: none;
  padding: 0;
  margin: 0;

  @media screen and (min-width: $tablet) {
    width: 393px;
  }
}
