.pagination {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.pages {
  display: flex;
}

.pagination-btn {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--main-background-dark-color);
  cursor: pointer;

  transition: all var(--animation-duration) ease;

  &:hover,
  &:focus {
    transform: scale(1.01);
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
    background-color: var(--pagination-btn-backgroun);
    outline: none;
  }
}

.next-btn,
.prev-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background-color: var(--pagination-btn-backgroun);

  transition: all var(--animation-duration) ease;

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
      outline: none;
  }
}



.icon {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 15px;
  height: 15px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}


.active-btn {
  background-color: var(--main-text-genre-color);
  color: var(--main-background-light-color);
    &:hover,
    &:focus {
      background-color: var(--main-text-genre-color);
    }
}

@media screen and (max-width: 767px) {
  .first,
  .last {
    display: none;
  }
}

@media screen and (min-width: $tablet) {
  .pagination {
    padding-bottom: 60px;
    max-width: 400px;
    margin: 0 auto;
  }

  .pagination-box {
    display: flex;
  }

}